<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	convertErrorsToExceptions="true"
	colors="true"
	syntaxCheck="true"
	verbose="true"
	stderr="true"
>

	<php>
		<ini name="error_reporting" value="-1" />
	</php>

	<testsuites>
		<testsuite name="Test Suite">
			<directory>./tests</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory>./src</directory>
		</whitelist>
	</filter>

</phpunit>