<div n:snippet="form">
<form n:name="form" n:attr="...$formOptions">

	<div class="mb-3" n:ifcontent>
		<h3 n:ifcontent>{include #title}</h3>
		{include #tools}
	</div>

	<div class="alerts mb-3" n:if="$form->hasErrors()" n:snippet="errors" n:inner-foreach="$form->getErrors() as $error">
		<div n:class="alert, alert-danger, $iterator->isLast() ? mb-0">{$error}</div>
	</div>

	<div n:class="mb-3" n:ifset="#beforeControls" n:ifcontent>
		{include #beforeControls}
	</div>

	<div class="mb-3" n:ifset="#controls" n:ifcontent>
		{include #controls}
	</div>

	<div n:class="mb-3" n:ifset="#afterControls" n:ifcontent>
		{include #afterControls}
	</div>

	<div class="btn-toolbar gap-2" n:ifcontent>

		{ifset #buttons-bare}
			{include #buttons-bare}
		{elseifset #buttons}
			{include #buttons}
		{/ifset}

	</div>

	{ifset #javascript}{include #javascript}{/ifset}

</form>
</div>

{define #title}{/define}
{define #tools}{/define}
