<div n:snippet="form" class="accordion-item bg-body-tertiary">

	<h2 class="accordion-header">
		<button type="button" n:class="accordion-button, !$isOpen ? collapsed" data-bs-toggle="collapse" data-bs-target="#{$target}" aria-expanded="{$isOpen ? 'true' : 'false'}">
			{include #title}
		</button>
	</h2>

	<form n:name="form" n:class="accordion-collapse, collapse, $isOpen ? show" n:attr="data-bs-parent: $container, ...$formOptions">

		<div class="accordion-body bg-dark-subtle border-bottom py-2" n:ifcontent>
			{include #tools}
		</div>

		<div class="accordion-body p-0 border-0" n:if="$form->hasErrors()" n:snippet="errors" n:inner-foreach="$form->getErrors() as $error">
			<div n:class="alert, alert-danger, mb-0, px-4, rounded-0, border-start-0, border-end-0, !$iterator->isLast() ? border-bottom-0">{$error}</div>
		</div>

		<div class="accordion-body pb-0" n:ifset="#beforeControls" n:ifcontent>
			{include #beforeControls}
		</div>

		<div class="accordion-body" n:ifset="#controls" n:ifcontent>
			{include #controls}
		</div>

		<div class="accordion-body pt-0" n:ifset="#afterControls" n:ifcontent>
			{include #afterControls}
		</div>

		<div class="accordion-body btn-toolbar d-flex gap-2 pt-0" n:ifcontent>

			{ifset #buttons-card}
				{include #buttons-card}
			{elseifset #buttons}
				{include #buttons}
			{/ifset}

			<button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#{$target}">{_web.button.close|noescape}</button>

		</div>

	</form>

	{ifset #javascript}{include #javascript}{/ifset}

</div>

{define #title}{/define}
{define #tools}{/define}
