
php:
	date.timezone: Europe/Prague

session:
	autoStart: FALSE

application:
	scanDirs: FALSE

services:
	- JuniWalk\Form\Tests\Files\FormFactory
	- JuniWalk\Form\Tests\Files\Translator

extensions:
	form: JuniWalk\Form\DI\FormExtension
