
php:
	date.timezone: Europe/Prague

session:
	autoStart: FALSE

application:
	scanDirs: FALSE

services:
	cacheStorage: Nette\Caching\Storages\MemoryStorage

	- JuniWalk\Form\Tests\Files\FormFactory
	- JuniWalk\Form\Tests\Files\Translator

extensions:
	form: JuniWalk\Form\DI\FormExtension
